name: CI/CD Pipeline for FastAPI App

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      # Checkout le code source
      - name: Checkout code
        uses: actions/checkout@v2

      # Configuration de Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Log in to Azure CLI
      - name: Log in to Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Vérification de la connexion Azure CLI
      - name: Check Azure CLI login
        run: |
          az account show

      # Log in to Azure Container Registry (ACR)
      - name: Log in to ACR
        run: |
          az acr login --name acrcrm

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t crm-image:latest .

      # Tag Docker image
      - name: Tag Docker image
        run: |
          docker tag crm-image:latest acrcrm.azurecr.io/acrcrm:latest

      # Push Docker image to ACR
      - name: Push Docker image to ACR
        run: |
          docker push acrcrm.azurecr.io/acrcrm:latest

      # Déployer sur Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: fastapicrm
          images: acrcrm.azurecr.io/acrcrm:latest
